@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes hienlentutu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
    --box-shadow-around: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-bottom: 0px 10px 15px 0 rgb(0, 0, 0, 0.2);
    --header-height: 8rem;
    --transition-hover: all linear 0.3s;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

p {
    margin: 0;
    bottom: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.avatar {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.btn {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 3.6rem;
    background-color: var(--green-color);
    border: none;
    outline: none;
}

.btn:hover {
    background-color: var(--light-orange-color);
    transition: var(--transition-hover);
    color: #fff;
}

.btn i {
    padding: 1rem 1.2rem;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 1.4rem;
    margin-left: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* Header */
.header {
    height: var(--header-height);
    background-color: #fff;
    box-shadow: var(--box-shadow-bottom);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header-container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo i {
    font-size: 2rem;
    font-weight: bold;
    color: var(--light-orange-color);
    margin-right: 0.5rem;
}

.header-logo p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.header-menus {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-menus li:not(:last-child) {
    margin: 0 1rem;
}

.header-menus li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    padding: 0.8rem 1.5rem;
    border-radius: 3.6rem;
    background-color: transparent;
}

.header-menus li a:hover,
.header-menus li a.active {
    color: #fff;
    background-color: #3cb815;
    transition: var(--transition-hover);
}

.header-infos {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-infos span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 1rem;
}

.header-infos i {
    font-size: 2rem;
    font-weight: bold;
    height: 2.7rem;
    color: var(--text-color);
}

.header-infos:hover .header-settings {
    display: block;
}

.header-settings {
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 120%;
    background-color: #fff;
    box-shadow: var(--box-shadow-around);
    animation: hienlentutu linear 0.3s;
}

.header-settings::before {
    content: "";
    display: block;
    position: absolute;
    top: -1rem;
    width: 100%;
    height: 1rem;
}

.header-settings li a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
}

.header-settings li:nth-child(3) {
    border-top: 1px solid #ccc;
}

.header-settings li a:hover {
    background-color: #d3d3d3;
    transition: var(--transition-hover);
}

/* Slider */
.slider {
    margin-top: var(--header-height);
    height: 55rem;
    margin-bottom: 6rem;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100% !important;
}

.slick-arrow {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2.3rem;
    font-size: 5rem;
    color: #fff;
    line-height: 0;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    z-index: 1;
}

.slick-arrow-left {
    left: 8rem;
    z-index: 1;
}

.slick-arrow-right {
    right: 8rem;
}


.slider-container {
    width: 100%;
    height: 100%;
}

.slider-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-content {
    position: absolute;
    top: 20%;
}

.slider-content-left {
    left: 15%;
}

.slider-content-right {
    right: 15%;
}

.slider-item-1 {
    background: url('./img/img1.jpg') center / cover no-repeat;
}

.slider-item-2 {
    background: url('./img/img2.jpg') center / cover no-repeat;
}

.slider-item-3 {
    background: url('./img/img3.jpg') center / cover no-repeat;
}

.slider-item-4 {
    background: url('./img/img4.jpg') center / cover no-repeat;
}

.slider-item-5 {
    background: url('./img/img5.jpg') center / cover no-repeat;
}

.slider-content__desc {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-color);
    margin-bottom: 1rem;
}

.slider-content__title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.section-title p {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}

.section-title p span {
    color: var(--green-color);
    font-size: 3rem;
    font-weight: bold;
}

/* Categories */
.categories {
    margin-bottom: 10rem;
}

.categories-item {
    position: relative;
    border-radius: 0.6rem;
    padding: 2rem 1.5rem 4rem 1.5rem;
    text-align: center;
    display: block;
}

.categories-item-1 {
    background-color: #86a3b852;
}

.categories-item-2 {
    background-color: #f4848442;
}

.categories-item-3 {
    background-color: #ad7be944;
}

.categories-item__image {
    width: 13rem;
    height: 10rem;
    margin-bottom: 1.5rem;
}

.categories-item__name {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.categories-item__quantity {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.categories-item:hover .categories-item__button {
    display: block;
}

.categories-item__button {
    display: none;
    position: absolute;
    bottom: -2rem;
    left: 40%;
    cursor: pointer;
    animation: hienlentutu linear 0.3s;
}

.categories-item__button i {
    padding: 1.3rem 1.5rem;
    background-color: var(--light-orange-color);
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
}

/* Products */
.products {
    margin-bottom: 10rem;
}

.products-item {
    position: relative;
    padding: 4rem 2rem 3rem 2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow-around);
    margin-bottom: 3rem;
    display: block;
}

.products-item:hover {
    transform: translateY(0.5rem);
    transition: var(--transition-hover);
}

.products-item__img {
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
    text-align: center;
    object-fit: contain;
}

.products-item__content {
    text-align: left;
}

.products-item__category {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.products-item__name {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.products-item__price {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
}

.products-item__price span {
    font-size: 2rem;
    color: var(--green-color);
}

.products-item__sale {
    position: absolute;
    top: 2rem;
    left: 0rem;
    background-color: orangered;
    padding: 0.2rem 3rem 0.2rem 0.5rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

.products-item__sale::before {
    content: "";
    display: block;
    position: absolute;
    right: -1rem;
    top: 0.3rem;
    border-width: 0.9rem;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
    transform: rotate(316deg);
}

.products-item__love {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 3rem;
    color: orangered;
}

.products-item__buy {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    background-color: var(--green-color);
    padding: 1rem 1rem;
}

.products-item__buy i {
    font-size: 1.5rem;
    color: #fff;
}


body {
    height: 500rem;
}